doctype html
html(xmlns='http://www.w3.org/1999/xhtml', lang='en-GB', xml:lang='en-GB')

	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title= 'Music - ' + title
		link(rel='stylesheet', href='/static/app.css')

	body
		main
			section#location-bar= title
			section#navigation(data-view=view)
				include list.pug

			section#player-bar Player Bar
			script(type='text/javascript', src='/static/fetch.js')
			script(type='text/javascript', src='/static/app.js')
