- var menuClass = (view === 'libraries') ? 'display-off' : '';

doctype html
html(xmlns='http://www.w3.org/1999/xhtml', lang='en-GB', xml:lang='en-GB')

	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="coral">
		title= 'Music - ' + title
		link(rel='stylesheet', href='/static/app.css')

	body
		main
			section#location-bar
				span#location-title= title
				svg(id="menu-icon" class=menuClass xmlns="http://www.w3.org/2000/svg" version="1.1" width="50" height="50" viewBox="0 0 50 50")
					<rect x=10 y="12" width="30" height="4" />
					<rect x="10" y="23" width="30" height="4" />
					<rect x="10" y="34" width="30" height="4" />
					<rect x="0" y="0" width="50" height="50" fill-opacity="0.0" />

			section#navigation(data-view=view)
				if list
					include list.pug
				else
					include settings.pug

			section#player-bar
				<svg class="play-icon playback-icon hidden" xmlns="http://www.w3.org/2000/svg" version="1.1" width="50" height="50" viewBox="-5 -5 60 60">
					<polygon points="10,10 40,25 10,40" />
					<rect x="0" y="0" width="50" height="50" fill-opacity="0.0" />
				</svg>
				<svg class="pause-icon playback-icon display-off" xmlns="http://www.w3.org/2000/svg" version="1.1" width="50" height="50" viewBox="-5 -5 60 60">
					<rect x="9" y="10" width="12" height="30" />
					<rect x="29" y="10" width="12" height="30" />
					<rect x="0" y="0" width="50" height="50" fill-opacity="0.0" />
				</svg>
				span#player-bar-name.song-name

		section.overlay.player-overlay.hidden-overlay
			div#close-player.close-overlay x
			div.song-name.song-info
			div.artist-name.song-info
			div.album-name.song-info
			div.player-controls
				<svg id="rew-icon" class="playback-icon hidden" xmlns="http://www.w3.org/2000/svg" version="1.1" width="50" height="50" viewBox="0 0 50 50">
					<polygon points="25,15 10,25 25,35" />
					<polygon points="40,15 25,25 40,35" />
					<rect x="0" y="0" width="50" height="50" fill-opacity="0.0" />
				</svg>
				<svg class="play-icon playback-icon hidden" xmlns="http://www.w3.org/2000/svg" version="1.1" width="50" height="50" viewBox="0 0 50 50">
					<polygon points="10,10 40,25 10,40" />
					<rect x="0" y="0" width="50" height="50" fill-opacity="0.0" />
				</svg>
				<svg class="pause-icon playback-icon display-off" xmlns="http://www.w3.org/2000/svg" version="1.1" width="50" height="50" viewBox="0 0 50 50">
					<rect x="9" y="10" width="12" height="30" />
					<rect x="29" y="10" width="12" height="30" />
					<rect x="0" y="0" width="50" height="50" fill-opacity="0.0" />
				</svg>
				<svg id="ff-icon" class="playback-icon hidden" xmlns="http://www.w3.org/2000/svg" version="1.1" width="50" height="50" viewBox="0 0 50 50">
					<polygon points="10,15 25,25 10,35" />
					<polygon points="25,15 40,25 25,35" />
					<rect x="0" y="0" width="50" height="50" fill-opacity="0.0" />
				</svg>
			div.up-next-banner
				span.up-next-title Up Next
				span#clear-up-next Clear
			ul.up-next

		section.overlay.menu-overlay.hidden-overlay
			include menu.pug

		script(type='text/javascript', src='/static/fetch.js')
		script(type='text/javascript', src='/static/lovefield.min.js')
		script(type='text/javascript', src='/static/page.js')
		script(type='text/javascript', src='/static/list-template.js')
		script(type='text/javascript', src='/static/menu-template.js')
		script(type='text/javascript', src='/static/app.js')
