div.settings-wrapper
	h2 Add
	p Enter the absolute path of a library on the server to add it to the database.
	input(type="text")#library-path
	button#add Add
	h2 Scan
	p Scan current libraries to add their content to the database.
	button#scan Scan
	span#scan-message
	h2 Current Libraries
	each library in libraries
		b= library.name
		pre= library.path
