/* ----- General ----- */

html, body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}


/* ----- Main View ----- */

#location-bar, #player-bar {
	height: 8vh;
	width: 100vw;
	background-color: coral;
}

#navigation {
	height: 84vh;
	width: 100vw;
	background-color: lightblue;
}


/* ----- Navigation ----- */

#navigation li {
	display: flex;
	border-bottom: 1px solid coral;
}

#navigation li, ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#navigation span {
	flex-grow: 1;
}

#navigation span, a {
	padding: 0.5em;
}
