/* ----- General ----- */

html, body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

.display-off {
	display: none;
}

.hidden {
	visibility: hidden;
}


/* ----- Main View ----- */

#location-bar, #player-bar {
	height: 8vh;
	width: 100vw;
	background-color: coral;
}

#navigation {
	height: 84vh;
	width: 100vw;
	background-color: lightblue;
}


/* ----- Location Bar ----- */

#location-bar {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}

#location-title {
	flex-grow: 1;
}


/* ----- Navigation ----- */

#navigation {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

#navigation li {
	display: flex;
	cursor: pointer;
	border-bottom: 1px solid coral;
}

#navigation li, ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#navigation .list-name {
	flex-grow: 1;
}

#navigation .list-name, .plus {
	padding: 0.5em;
}

#navigation a {
	text-decoration: none;
	color: inherit;
}


/* ----- Player Bar ----- */

#player-bar {
	display: flex;
	align-items: center;
	white-space: nowrap;
}

svg {
	display: block;
	height: 100%;
	flex-shrink: 0;
	cursor: pointer;
}

.song-name {
	overflow: hidden;
	text-overflow: ellipsis;
}

#player-bar-name {
	cursor: pointer;
}


/* ----- Player Overlay ----- */

.player-overlay {
	position: absolute;
	background-color: white;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.song-info {
	flex-grow: 1;
}

.player-controls {
	display: flex;
	flex-grow: 2;
}

#close-player {
	padding: 1em;
	align-self: flex-start;
	cursor: pointer;
}

.up-next {
	list-style: none;
	width: 80vw;
	flex: 2 1 40vh;
	margin: 1em 0 3em;
	padding: 0.5em;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	border: 1px solid #000;
}

.up-next li {
	padding: 0.3em 0;
}

.up-next-banner {
	flex-shrink: 1;
	width: 80vw;
	display: flex;
	justify-content: space-between;
}

.up-next-title {
	text-decoration: underline;
}

#clear-up-next {
	color: coral;
	cursor: pointer;
}


/* ----- Menu Overlay ----- */

.menu-overlay {
	position: absolute;
	background-color: white;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#close-menu {
	padding: 1em;
	align-self: flex-start;
	cursor: pointer;
	font-size: large;
}

.menu-overlay a {
	display: block;
	text-decoration: none;
	color: black;
	font-size: x-large;
	padding: 1em 0;
}


/* ----- All Overlays ----- */

.hidden-overlay {
	display: none;
}
